extends ../layouts/layout

block content
    div.container.text-center.mt-5
        h1.h1 View user
        table.table.mt-5
            tr
                td 
                    img(src="/" + user.path, alt="Avatar", style="width:64px")
                td=user.name
                td=user.phone